
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Обратно</span></a></div>
    <div class="center sliding">Ремонт</div>
    
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="form" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block-title">Form Example</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-name"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">с363ен</div>
                <div class="item-input">
                  <input type="text" placeholder="Диагностика"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-email"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">р632ат</div>
                <div class="item-input">
                  <input type="email" placeholder="Диагностика"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-url"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">а194тк</div>
                <div class="item-input">
                  <input type="url" placeholder="Ремонт ходовой части"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-password"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">у914ут</div>
                <div class="item-input">
                  <input type="password" placeholder="Диагностика"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-tel"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">м273вс</div>
                <div class="item-input">
                  <input type="tel" placeholder="Ремонт ходовой части"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-password"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">м235тк</div>
                <div class="item-input">
                  <select>
                    <option>Шиномонтаж</option>
                    <option>Мойка</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-calendar"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">р234он</div>
                <div class="item-input">
                  <input type="date" placeholder="Birth day" value="2014-04-30"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-toggle"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">Switch</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-settings"></i></div>
              <div class="item-inner">
                <div class="item-title label">Slider</div>
                <div class="item-input">
                  <div class="range-slider">
                    <input type="range" min="0" max="100" value="50" step="0.1"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">Textarea</div>
                <div class="item-input">
                  <textarea></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="content-block">
        <div class="row">
          <div class="col-50"><a href="#" class="button button-big button-fill color-red">Отменить</a></div>
          <div class="col-50">
            <input type="submit" value="Подтвердить" class="button button-big button-fill color-green"/>
          </div>
        </div>
      </div>
     
   
    </div>
    <!-- END page-content -->
    
  </div>
</div>