<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link"> <i class="icon icon-back"></i><span>Обратно</span></a>
    </div>
    <div class="center sliding">Техническое обслуживание</div>
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="services" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block-title">Техобслуживание</div>
      <div class="list-block">
        <ul>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Books" checked="checked" />
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Мойка</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Movies" />
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Уборка салона</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Food" />
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Заправка горючим</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Drinks" />
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Аккумулятор</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
      <!-- END list-block -->
      <div class="content-block">
        <div class="row">
          <div class="col-50"><a href="#" class="button button-big button-fill color-red">Отменить</a></div>
          <div class="col-50">
            <input type="submit" value="Подтвердить" class="button button-big button-fill color-green" /> </div>
        </div>
      </div>
      <!-- END content-block -->
    </div>
  </div>
</div>
<!-- END pages -->