
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Обратно</span></a></div>
    <div class="center sliding">Хранение</div>
    
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="about" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block">
        <div class="content-block-inner">
          <p>Ведомость единиц хранения</p>
          <p>Go <a href="#" class="back">back</a> or click  <a href="#" class="create-page">here </a>to create dynamic page.</p>
             
             <div class="content-block-title">Узлы и агрегаты</div>
             <div class="content-block-title">Детали</div>
      

        </div>
      </div>
    </div>
  </div>
</div>